body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
h1 {
    font-size: 88px;
    color: #333;
    margin-top: 20px;
}
